[default]

; arn:aws:iam::490606849374:mfa/your.name 
[inindca]
aws_secret_access_key = {{ aws_secret_access_key_inindca }}
aws_access_key_id = {{ aws_access_key_id_inindca }}
region = us-east-1

; arn:aws:iam::654283760568:mfa/your.name
[inintca]
aws_secret_access_key = {{ aws_secret_access_key_inintca }}
aws_access_key_id = {{ aws_access_key_id_inintca }}
region = us-east-1

; arn:aws:iam::546684437830:mfa/your.name
[ininsca]
aws_secret_access_key = {{ aws_secret_access_key_ininsca }}
aws_access_key_id = {{ aws_access_key_id_ininsca }}
region = us-east-1